apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-auto-update-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      serviceAccountName: config-auto-update-sa
      containers:
      - name: manager
        image: devang/config-auto-operator:v1
        command:
        - /manager
